<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSServices</key>
	<array>
		<dict/>
	</array>
    <key>NSMicrophoneUsageDescription</key>
    <string>Game membutuhkan akses mikrofon untuk kontrol suara</string>
    <key>NSCameraUsageDescription</key>
    <string>Game membutuhkan akses kamera untuk AR</string>
    <key>NSSpeechRecognitionUsageDescription</key>
    <string>Game menggunakan speech recognition untuk kontrol permainan</string>
</dict>
</plist>
